:root {
  --background-color: #282c34; /* Dark Slate */
  --container-background: #1f2028; /* Dark Gunmetal */
  --selection-background: rgba(59, 130, 246, 0.5); /* Blue with transparency */
  --selection-color: #ffffff; /* White */
  --box-shadow-color: rgba(0, 0, 0, 0.2); /* Dark shadow */
  --primary-color: rgba(248, 249, 250, 0.9); /* Light Grayish White */
  --secondary-color: rgba(200, 200, 200, 0.7); /* Gray */
  --highlight-color: #00bcd4; /* Bright Cyan */
  --checked-background: #2196f3; /* Moderate Blue */
  --checked-color: #ffffff; /* White */
  --link-color: #61dafb; /* Light Blue */
  --link-hover-color: #21a1f1; /* Darker Blue */
  --error-text-color: #ff0000; /* Darker Red */
  --error-background-color: #ffeb3b; /* Lighter Yellow background */
  --border-radius: 8px;
  --control-margin: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background-color);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
}

.container {
  width: 100%;
  height: 100vh; /* Sets the height to cover the full viewport */
  background: var(--container-background);
  box-sizing: border-box; /* Includes padding in width & height calculations */
  margin: 0; /* Removes any default margin */
}

.content input[name="slider"] {
  display: none;
}

.content {
  display: flex;
}

.flex-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}
.flex-container div {
  display: flex;
}

.content .list label {
  width: 60px;
  height: 60px;
  color: var(--secondary-color);
  transition: all 0.1s ease;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  flex-basis: content;
}

.content .list label svg {
  height: 60px;
}

.content .text-content {
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--primary-color);
  width: calc(100% - 60px);
}

.content .text {
  display: none;
}

.content .text-content .home {
  display: block;
}

.content .list label:hover {
  color: var(--highlight-color);
}

.content .list label {
  border-radius: 12px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 10px;
  border: 1px solid var(--background-color);
  vertical-align: middle;
}

.cell:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  font-weight: bold;
  color: var(--primary-color);
  width: 160px;
}

.cell:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  color: var(--secondary-color);
}

a.program-url {
  color: var(--link-color); /* Using light blue from variable */
  text-decoration: none;
}

a.program-url:hover {
  color: var(--link-hover-color); /* Using darker blue on hover */
  text-decoration: underline;
}

.button {
  display: block;
  position: absolute;
  border: 1px solid var(--secondary-color);
  background: var(--checked-background);
  color: var(--checked-color);
  padding: 10px 20px;
  margin-top: var(--control-margin);
  transition: all 0.1s ease;
}

.button input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
}

.settings:has(#connect-button:checked) .button:has(#connect-button) {
  display: none;
}
.settings:has(#disconnect-button:checked) .button:has(#disconnect-button) {
  display: none;
}
.settings:has(#connect-button:checked) .user-input {
  pointer-events: none;
  opacity: 0.7;
}


select,
.content .list label {
  cursor: pointer;
}

select,
.button,
.error {
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  font-size: 18px;
}

select {
  background: var(--container-background);
  color: var(--primary-color);
  padding: 10px 20px;
  margin-top: var(--control-margin);
  transition: all 0.1s ease;
  min-width: 200px;
}

.input-label {
  color: var(--primary-color);
  margin-top: 10px;
  display: inline-block;
  width: 110px;
}

.error {
  color: var(--error-text-color);
  background-color: var(--error-background-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  animation: headShake 0.4s 2 linear;
}

.error svg {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: -5px;
}

#port-error {
  display: inline-block;
  margin-top: 10px;
}

#global-error {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
  min-height: 20%;
  padding: 10px;
  z-index: 100;
}

#hasNoError {
  display: block;
  position: absolute;
  z-index: 101;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
}
#global-error div {
  width: 24px;
  height: 24px;
}
#global-error svg {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  color: var(--container-background);
}
#global-error span {
  width: 100%;
}
#global-error:has(#hasNoError:checked) {
  background-color: red;
  display: none;
}



@keyframes headShake {
  0    { transform: translateX(0) }
  25%  { transform: translateX(6px) rotateY(-9deg) skewY(1deg) }
  50%  { transform: translateX(-5px) rotateY(4.5deg) skewY(-1deg) }
  75%  { transform: translateX(3px) rotateY(-2.25deg) skewY(0) }
  100% { transform: translateX(-2px) rotateY(3deg) }
}

#terminal-input, #terminal-output, #temp-chart{
  display: block;
  background: var(--container-background);
  color: var(--primary-color);
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-color);
  width: 100%;
  resize: none;
  font-family: 'Courier New', Courier, monospace; /* Terminal font */
}

.text-content {
  height: 100vh;
}


#temp-chart {
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
  resize: vertical;
  overflow: hidden;
}
#terminal-output {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 10px;
}
#terminal-output pre {
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace; /* Terminal font */
}

#terminal-input {
  height: 40px;
  overflow: hidden;
  margin-bottom: 2px;
}